<fieldset class="fieldset">
  <legend id="nickname-field" class="fieldset-legend">Apelido</legend>
  <input aria-labelledby="nickname-field" type="text" class="input" [formField]="$any(form.nickname)" />

  {{ form.nickname().value() }}
</fieldset>

<fieldset class="fieldset">
  <legend id="age-field" class="fieldset-legend">Idade</legend>
  <input aria-labelledby="age-field" type="number" class="input" [formField]="form.age" />

  {{ form.age().value() }}
</fieldset>

<fieldset class="fieldset">
  <legend id="date-field" class="fieldset-legend">Data</legend>
  <input aria-labelledby="date-field" type="date" class="input" [formField]="form.date" />

  {{ form.date().value() }}
</fieldset>

<fieldset class="fieldset">
  <legend id="time-field" class="fieldset-legend">Hora</legend>
  <input aria-labelledby="time-field" type="time" class="input" [formField]="form.time" />

  {{ form.time().value() }}
</fieldset>

<fieldset class="fieldset">
  <legend id="dateTime-field" class="fieldset-legend">Data e Hora</legend>
  <input aria-labelledby="dateTime-field" type="datetime-local" class="input" [formField]="form.datetime" />

  {{ form.datetime().value() }}
  {{ datetimeToISO() }}
</fieldset>

<fieldset class="fieldset">
  <legend id="theme-legend" class="fieldset-legend">Tema</legend>
  <select aria-labelledby="theme-legend" class="select" [formField]="form.theme">
    <option disabled selected value="">Escolha um Tema</option>
    @for (item of themeOptions(); track item.value) {
      <option [value]="item.value">{{ item.label }}</option>
    }
  </select>

  {{ form.theme().value() }}
</fieldset>


  <label class="label mt-4">
    <input type="checkbox" class="checkbox" [formField]="form.receiveNews" />
    Receber novidades via newslatter
  </label>

{{ form.receiveNews().value() }}

<fieldset class="fieldset mt-4">
  <legend  class="fieldset-legend">Frequência de envio</legend>
  @for (item of frequencyOptions(); track item.value) {
    <label class="label mt-4">
      <input type="radio" class="radio" [formField]="form.frequency" [value]="item.value" />
      {{ item.label }}
    </label>
  }

  {{  form.frequency().value() }}
</fieldset>
